.content{
    flex-grow: 1;
    background-color: #ffffff;
	overflow-y: scroll;
	overflow-x:hidden;
	height:100vh;
	margin-left: 0px;
	position: relative;
	left:0;
	opacity: 1; 
	transition:left 0.3s ease-in;
	
}

.content{
    padding: 5%;
}
.content h1{
    padding: 0;
}



@media only screen and (max-width:760px){
	.wrapper .hide + .content{
		left:-260px;
		opacity:1;
	}
	.content{
		flex:1 0 100%;
		padding-top:100px;
	}
	.content *{
		padding-top:0;
	}
	
}