#searchBox {
	max-width: 50%;
	border-radius: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
body, html {
    background: linear-gradient(rgb(17, 67, 87), rgb(242, 148, 146)) !important;
    background-size: cover !important; 
    background-repeat: no-repeat !important; 
    min-height: 100% !important;
}
#events-page {
	min-height: 100vh;
	animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  color: #fff !important;
  background: none !important;
}

#events-page h1 {
    font-weight: bold;
}

#events-page .card {
  color: #000 !important;
  border-radius: 0px;
  border: 0px solid;
  transition: all 0.2s ease;
  margin-bottom: 20px;
  min-width: 100%;
}
#events-page .card:hover {
  box-shadow: 0px 0px 10px 0px #565656;
}

.mobile-no {
	margin-left: 10px;
}
#back-btn {
	margin-top: -10px;
	margin-right: 40px;
	width: 48px;
	transition: all 0.2s ease;
	cursor: pointer;
}
#back-btn:hover {
	margin-right: 50px;
}
.event-icons {
	width: 20px;
	margin: 2px;
}

@keyframes fade-in {
    from {
    	opacity: 0;
    	transform: scale(0.8);
    }
    to {
    	opacity: 1;
    	transform: scale(1);
    }
}

.card {
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) { 
    #event-heading {
        margin-top: 100px;
        font-size: 2.5rem;
    }
    #back-btn {
			margin-right: 20px !important;
			width: 36px !important;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		#events-page {
			margin-bottom: 100px !important; 
		}
		.card {
			margin-bottom: 20px;
		}
}


/* loader css */

.containing {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
}

.dot { 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}