#searchBox {
	max-width: 50%;
	border-radius: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#events-page {
	min-height: 100vh;
	animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.mobile-no {
	margin-left: 10px;
}
#back-btn {
	margin-top: -10px;
	margin-right: 40px;
	width: 48px;
	transition: all 0.2s ease;
	cursor: pointer;
}
#back-btn:hover {
	margin-right: 50px;
}
.event-icons {
	width: 20px;
	margin: 2px;
}

@keyframes fade-in {
    from {
    	opacity: 0;
    	transform: scale(0.8);
    }
    to {
    	opacity: 1;
    	transform: scale(1);
    }
}

@media only screen and (max-width: 576px) { 
    #event-heading {
        margin-top: 100px;
        font-size: 2.5rem;
    }
    #back-btn {
			margin-right: 20px !important;
			width: 36px !important;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		#events-page {
			margin-bottom: 100px !important; 
		}
		.card {
			margin-bottom: 20px;
		}
}


/* loader css */

#circle_container
{
  height: 200px;
  width: 200px;
  position: absolute;
  /*Centering*/
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  border-radius: 50%;
  background-color: #DDD;
  overflow: hidden;
  animation: background 4s -3.5s infinite;
  /*Nice modern drop-shadow*/
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

#load_wrapper
{
  height: 300%;
  width: 300%;
  margin-left: -50px;
  transform: translate3d(-25%, 0, 0);
  position: relative;
  animation: rotation 4s linear infinite;
}

#sun, #moon
{
  position: absolute;
  border-radius: 50%;
  /*Make sure they are in the middle*/
  left: 50%;
  transform: translateX(-50%);
}

#sun
{
  width: 80px;
  height: 80px;
  background-color: #FFD475;
  top: 40px;
  box-shadow: 0 0 15px #FFCB57;
}

#moon
{
  width: 50px;
  height: 50px;
  background-color: #EEE;
  top: 450px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2) inset, 0 0 10px white;
}

@keyframes rotation
{
  0% {
    transform: translate3d(-25%, 0, 0) rotate(0deg);
  }
  20% {
    /*Sun goes down*/
    transform: translate3d(-25%, 0, 0) rotate(50deg);
  }
  30% {
    /*Moon rises*/
    transform: translate3d(-25%, 0, 0) rotate(130deg);
  }
  70% {
    /*Moon goes down*/
    transform: translate3d(-25%, 0, 0) rotate(240deg);
  }
  80% {
    /*Sun rises*/
    transform: translate3d(-25%, 0, 0) rotate(310deg);
  }
  100% {
    transform: translate3d(-25%, 0, 0) rotate(360deg);
  }
}

@keyframes background
{
  0% {
    background-color: #2896C3;
  }
  50% {
    /*Night*/
    background-color: #1E5267;
  }
  100% {
    background-color: #2896C3;
  }
}

