#myProfile-page {
	min-height: 100vh;
	animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  color: #fff !important;
  background: none !important;
}
#back-btn {
	margin-top: -10px;
	margin-right: 40px;
	width: 48px;
	transition: all 0.2s ease;
	cursor: pointer;
}
body, html {
    background: linear-gradient(rgb(17, 67, 87), rgb(242, 148, 146)) !important;
    background-size: cover !important; 
    background-repeat: no-repeat !important; 
    min-height: 100% !important;
}

#myProfile-page .card {
	color: #000 !important;
	border-radius: 0px;
	border: 0px solid;
	transition: all 0.2s ease;
	margin-bottom: 20px;
}
#myProfile-page .card:hover {
	box-shadow: 0px 0px 10px 0px #565656;
}

#back-btn:hover {
	margin-right: 50px;
}
#myProfile-heading {
	margin-bottom: 30px;
}
#user-name, #user-college, #user-year {
	text-transform: capitalize;
}


@keyframes fade-in {
    from {
    	opacity: 0;
    	transform: scale(0.8);
    }
    to {
    	opacity: 1;
    	transform: scale(1);
    }
}

@media only screen and (max-width: 576px) { 
    #myProfile-heading {
        margin-top: 100px;
        font-size: 2.5rem;
    }
    #back-btn {
			margin-right: 20px !important;
			width: 36px !important;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		#myProfile-page {
			margin-bottom: 100px !important; 
		}
}