#aboutUs-page {
	min-height: 100vh;
	animation-name: fade-in;
  animation-duration: 0.3s;
  background: none !important;
  animation-timing-function: ease-in-out;
  color: #fff !important;
}

#aboutUs-page h1 {
    font-weight: bold;
}

body, html {
    background: linear-gradient(rgb(17, 67, 87), rgb(242, 148, 146)) !important; 
}
#back-btn {
	margin-top: -10px;
	margin-right: 40px;
	width: 48px;
	transition: all 0.2s ease;
	cursor: pointer;
}
#back-btn:hover {
	margin-right: 50px;
}
#aboutUs-heading {
	margin-bottom: 30px;
}
.credit-icons {
	width: 48px;
}
#GAWDSLink_svg{
	transform: translateY(10px);
}

.content-loader{
	transform: translate(-50%, -50%);
	animation: rotation infinite 1s linear;
}

.dev-labels {
	color: white;
	font-weight: lighter;
}

.dev-labels:hover {
	text-decoration: none;
}

@keyframes rotation {
	0%{
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100%{
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes fade-in {
    from {
    	opacity: 0;
    	transform: scale(0.8);
    }
    to {
    	opacity: 1;
    	transform: scale(1);
    }
}

@media only screen and (max-width: 576px) { 
    #aboutUs-heading {
        margin-top: 100px;
        font-size: 2.5rem;
    }
    .credit-icons {
    	width: 24px;
    }
    #back-btn {
			margin-right: 20px !important;
			width: 36px !important;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		#aboutUs-page {
			margin-bottom: 100px !important; 
		}
}
