.dock-icon {
	display: inline-block;
	width: 48px;
	transition: all 0.2s ease;
}
.dock-icon-btn {
	background: transparent;
	margin: 10px;
	transition: all 0.2s ease;
}
.dock-icon:hover {
	transform: scale(1.2);
}
#dock {
	text-align: center;
}
.fixed-bottom{
	z-index: 90;
}
.btn-group{
	border-top-left-radius:5px;
	border-top-right-radius:5px; 
}

@media only screen and (max-width: 576px) { 
	.dock-icon {
		width: 30px;
		margin: 2px;
	}
	.dock-icon-btn {
		margin: -4px;
	}
	.container {
		padding: 0px;
	}
}