#searchBox {
	max-width: 50%;
	border-radius: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#finder-page {
	min-height: 100vh;
	margin: 0px;
}

.finder-folder {
	margin: 30px;
	cursor: pointer;
	transition: all 0.2s ease;
}
.finder-folder:hover {
	transform: scale(1.2);
}