#searchBox {
	max-width: 50%;
	border-radius: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#finder-page {
	position: fixed;
    min-height: 100vh;
    min-width: 100vw;
}

body, html {
    background: #e9ecef;
}

.finder-folder {
	margin: 30px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.finder-folder a{
    color: black;
}

.finder-folder a:hover{
    text-decoration: none;
}

.finder-folder:hover {
	transform: scale(1.2);
}

@media only screen and (max-width: 576px) { 
    #searchBox {
    	max-width: 100% !important;
    }
    #finder-heading {
    	margin-top: 50px;
      font-size: 2.5rem;
    }
    .finder-folder {
    	width: 24px;
    }
    .finder-labels {
    	font-size: 0.75rem !important;
    }
    .finder-icon {
    	width: 48px;
    }
}