#searchBox {
	max-width: 50%;
	border-radius: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#finder-page {
	position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0, 0, 0, 0.85);
    color: #fff !important;
}
 
body, html {
    background: linear-gradient(rgb(17, 67, 87), rgb(242, 148, 146)) !important; 
}

.finder-folder {
	margin: 30px;
	cursor: pointer;
	transition: all 0.2s ease;
    text-align: center !important;
}

#finder-page hr {
    background: #c0c0c0 !important;
}

.finder-folder a{
    color: black;
}

.finder-folder a:hover{
    text-decoration: none;
}

.finder-folder:hover {
	transform: scale(1.2);
}

.finder-labels {
    color: #fff !important;
}

@media only screen and (max-width: 576px) { 
    #searchBox {
    	max-width: 100% !important;
    }
    #finder-heading {
    	margin-top: 50px;
      font-size: 2.5rem;
    }
    .finder-folder {
    	width: 24px;
        margin: 0px;
    }
    .finder-labels {
    	font-size: 0.75rem !important;
    }
    .finder-icon {
    	width: 48px;
    }
}