#searchBox {
	max-width: 50%;
	border-radius: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#finder-page {
	position: fixed;
    min-height: 100vh;
    min-width: 100vw;
	margin: 0px;
}

.finder-folder {
	margin: 30px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.finder-folder a{
    color: black;
}

.finder-folder a:hover{
    text-decoration: none;
}

.finder-folder:hover {
	transform: scale(1.2);
}