#contactUs-page {
	min-height: 100vh;
	animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
body, html {
    background: #e9ecef;
}
#back-btn {
	margin-top: -10px;
	margin-right: 40px;
	width: 48px;
	transition: all 0.2s ease;
	cursor: pointer;
}
#back-btn:hover {
	margin-right: 50px;
}
#contactUs-heading {
	margin-bottom: 30px;
}
.contact-info-card {
	margin: 20px;
}

@keyframes fade-in {
    from {
    	opacity: 0;
    	transform: scale(0.8);
    }
    to {
    	opacity: 1;
    	transform: scale(1);
    }
}

@media only screen and (max-width: 576px) { 
    #contactUs-heading {
        margin-top: 100px;
        font-size: 2.5rem;
    }
    #back-btn {
			margin-right: 20px !important;
			width: 36px !important;
			transition: all 0.2s ease;
			cursor: pointer;
		}
		#contactUs-page {
			margin-bottom: 100px !important; 
		}
}