#desktop-page {
    min-height: 100vh;
    animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
body, html {
    background: #e9ecef;
}
#main-heading {
	margin-top: 20px;
	margin-bottom: 30px;
}
#desktop-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes fade-in {
    from {
    	opacity: 0;
    	transform: scale(0.8);
    }
    to {
    	opacity: 1;
    	transform: scale(1);
    }
}

@media only screen and (max-width: 576px) { 
    #main-heading {
        margin-top: 200px;
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .lead {
        font-size: 1rem;
        padding: 10px !important;
    }
    cite {
        font-size: 1rem;
    }
    #desktop-page {
        margin-bottom: 100px !important; 
    }
}