#desktop-page {
	min-height: 100vh;
	margin: 0px;
}
#main-heading {
	margin-top: 20px;
	margin-bottom: 30px;
}
#desktop-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}